################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/TicketReservation/.vs/ProjectEvaluation/ticketreservation.metadata.v8.bin
/TicketReservation/.vs/ProjectEvaluation/ticketreservation.projects.v8.bin
/TicketReservation/.vs/ProjectEvaluation/ticketreservation.strings.v9.bin
/TicketReservation/.vs/ProjectEvaluation/ticketreservation.strings.v9.bin
